@import './variables.scss';

.active {
	border-bottom: 2px solid $white;
	background-image: linear-gradient(rgba($primary, .7), $primary);
	font-weight: 700;
	border-radius: $btn-border-radius;

	span {
		color: $white;
	}
}
