@import './variables.scss';

.Product {
  height: 90vh;

  .image {
    cursor: pointer;
  }

  .title {
    cursor: pointer;
    color: $gray-200;
  }
}

@media only screen and (max-width: 320px) {
  .Product {
    height: 110vh;
  }
}

@media (min-width: 480px) {
  .Product {
    height: 60vh;
  }
}

@media (min-width: 768px) {
  .Product {
    height: 70vh;
  }
}

@media (min-width: 992px) {
  .Product {
    height: 65vh;
  }
}
