// variables
$primary: #3167eb;
$primary-light: #5f89f0;
$secondary: #545454;
$danger: #fa3434;
$info: #3aafc9;
$dark: #212529;
$gray: #545454;
$warning: #ff9017;
$white: #ffffff;
$success: #00b517;
$light: #e4e4e4;
$linkedInColor: #0077b5;
$githubColor: #7dbbe6;
$facebookColor: #3b5998;
$cardColor: #29313d;
$black: $dark;
$yellow: $warning;

// body
$body-bg: $white;

// border radius
$border-radius: 5px;

// button
$btn-border-radius: 5px;

// font
$font-family-base: 'Quicksand';
$text-muted: $gray;

$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"danger": $danger,
	"info": $info,
	"dark": $dark,
	"gray": $gray,
	"warning": $warning,
	"white": $white,
	"success": $success,
	"light": $light
);
